@inject Microsoft.AspNetCore.Identity.SignInManager<AmazooApp.Models.ApplicationUser> signInManager
@model IEnumerable<AmazooApp.Models.Product>;

@{
    ViewData["Title"] = "Checkout Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (signInManager.IsSignedIn(User))
    {

        <div style="text-align: center; margin: 30px 0 30px 0;">
            <h1>Confirm Order</h1>
        </div>

        <form class="container" method="post" asp-action="OrderConfirmation" asp-controller="Billing">
            <table class="table table-bordered" style="margin-top: 20px">
                <tr>
                    <th><br />First Name</th>
                    <td><br />@ViewBag.FirstName</td>
                    <th><br />Last Name</th>
                    <td><br />@ViewBag.LastName</td>
                </tr>
                <tr>
                    <th><br />Email</th>
                    <td colspan="3"><br />@ViewBag.Email</td>
                </tr>
                <tr>
                    <th><br />Address</th>
                    <td><br />@ViewBag.Address</td>
                    <th><br />City</th>
                    <td><br />@ViewBag.City</td>
                </tr>
                <tr>
                    <th><br />Province</th>
                    <td><br />@ViewBag.Province</td>
                    <th><br />Zip Code</th>
                    <td><br />@ViewBag.Zipcode</td>
                </tr>
                <tr>
                    <th><br />Name on Credit Card</th>
                    <td><br />@ViewBag.CCName</td>
                    <th><br />Credit Card Number</th>
                    <td><br />@ViewBag.CCNumber</td>
                </tr>
                <tr>
                    <th><br />Expiration Date</th>
                    <td><br />@ViewBag.CCExpiration</td>
                    <th><br />CVV</th>
                    <td><br />@ViewBag.CVV</td>
                </tr>
            </table>
            <br />
            <br />
            <div style="text-align:center">
                <h3 style="color: gray;">Order Summary</h3>
            </div>
            @if (Model.Count() >= 0)
            {
                <table class="table table-bordered" style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Image</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td style="width:20%;">@product.ProductName</td>
                                <td style="width:20%;">@product.Category</td>
                                <td style="width:20%;">@product.Brand</td>
                                <td style="width:20%; text-align: center;">
                                    <img src="@product.Image" style="max-width: 10vw; height: 5vw;" />
                                </td>
                                <td style="width:12.5%;">@ViewBag.IdQnt[product.Id]</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <div style="text-align:center">
                    <h4>Total Cost:</h4>
                    <p>@ViewBag.Cost $</p>
                </div>
            }
            <br />
            <input style="background-color: rgba(0, 0, 0, 0); color: white; border: none; outline: none;"
                   type="text" name="productIds" id="productIds" value="" readonly />
            <input style="background-color: rgba(0, 0, 0, 0); color: white; border: none; outline: none;"
                   type="text" name="productQnts" id="productQnts" value="" readonly />
            <input style="background-color: rgba(0, 0, 0, 0); color: white; border: none; outline: none;"
                   type="text" name="cost" id="cost" value="" readonly />

            <script type="text/javascript">
            var ids = document.getElementById('productIds');
            var quantities = document.getElementById('productQnts');
            var cost = document.getElementById('cost');
            let inCart = JSON.parse(localStorage.getItem('productsInCart'));
            let totalCostNew = JSON.parse(localStorage.getItem('totalCost2'));

            let totCost = totalCostNew.toString();
            let totCost2 = parseFloat(totCost).toFixed(2);


            var productIds = "";
            var productQnts = "";
            for (i = 0; i < Object.values(inCart).length; i++) {
                var stringIds = Object.values(inCart)[i].productID + ";";
                productIds += stringIds;
                var stringQnts = Object.values(inCart)[i].inCart + ";";
                productQnts += stringQnts;
            }

            ids.value = productIds;
            quantities.value = productQnts;
            cost.value = totCost2.toString();
            </script>
            <br />
            <button class="btn btn-primary btn-lg btn-block" type="submit">Pass Order</button>
        </form>
        <br />
        <div style="text-align:center">
            <a class="btn btn-success" asp-area="" asp-controller="Billing" asp-action="Billing">Go Back</a>
        </div>
    }
    else
    {
        <div style="text-align: center; margin-top: 30px;">

            <h1>Please log in before accessing this page.</h1>

        </div>
    }
}
