@inject Microsoft.AspNetCore.Identity.SignInManager<AmazooApp.Models.ApplicationUser> signInManager
@model IEnumerable<AmazooApp.Models.Order>;

@{
    ViewData["Title"] = "Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (signInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            <div style="text-align: center; margin: 30px 0 30px 0;">

                <h1>Orders</h1>
                <br />
            </div>

            @if (Model.Count() >= 0)
            {
                <table class="table table-bordered" style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Creation Date</th>
                            <th>Delivery Date</th>
                            <th>Number of Items</th>
                            <th>Total Paid</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td style="width:12.5%;">@order.Id</td>
                                <td style="width:12.5%;">@ViewBag.IdNameHash[order.Customer]</td>
                                <td style="width:12.5%;">@order.Status</td>
                                <td style="width:12.5%;">@order.CreationDate.ToString().Split(" ")[0]</td>
                                <td style="width:12.5%;">@order.DeliveryDate.ToString().Split(" ")[0]</td>
                                <td style="width:12.5%;">@ViewBag.OrderNbrItems[order.Id]</td>
                                <td style="width:12.5%;">@order.TotalPaid $</td>
                                <td style="width:12.5%;">
                                    <a asp-controller="Order" asp-action="ViewDetails" asp-route-Id="@order.Id" class="btn btn-primary">View Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
            }
        }
        else
        {
            <div style="text-align: center; margin-top: 30px;">
                <h1>You do not seem to have the authorization to access this page.</h1>
            </div>
        }
    }
    else
    {
        <div style="text-align: center; margin-top: 30px;">

            <h1>Please log in before accessing this page.</h1>

        </div>
    }
}