@inject Microsoft.AspNetCore.Identity.SignInManager<AmazooApp.Models.ApplicationUser> signInManager
@model IEnumerable<AmazooApp.Models.Product>;
@using System.Collections;

@{
    ViewData["Title"] = "View My Order Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (signInManager.IsSignedIn(User))
    {
        if(ViewBag.CurrentUserId == ViewBag.Order.Customer){
            <div style="text-align: center; margin: 30px 0 30px 0;">
                <h1>Order Details</h1>
            </div>

            <table class="table table-bordered" style="margin-top: 20px">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Status</th>
                        <th>Creation Date</th>
                        <th>Delivery Date</th>
                        <th>Total Paid</th>
                        @if (ViewBag.Order.Status == "In Process")
                        {
                            <th>Cancel Order</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 14.2%;">@ViewBag.Order.Id</td>
                        <td style="width: 14.2%;">@ViewBag.Order.Status</td>
                        <td style="width: 14.2%;">@ViewBag.Order.CreationDate</td>
                        <td style="width: 14.2%;">@ViewBag.Order.DeliveryDate</td>
                        <td style="width: 14.2%;">@ViewBag.Order.TotalPaid</td>
                        @if (ViewBag.Order.Status == "In Process")
                        {
                            <td style="width: 14.2%;">
                                <a asp-controller="" asp-action="" asp-route-Id="" class="btn btn-danger">Cancel Order</a>
                            </td>
                        }
                    </tr>
                </tbody>
            </table>

            <br />
            <br />
            <div style="text-align: center; margin: 30px 0 30px 0;">
                <h1>Products Ordered</h1>
            </div>

            @if (ViewBag.ProductQuantity.Count > 0)
            {
                <table class="table table-bordered" style="margin-top: 20px">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{List<Product> products = Model.ToList<Product>();
                        }
                        @foreach (DictionaryEntry order in ViewBag.ProductQuantity)
                        {
                            var product = products.Find(x => x.Id == ((int)order.Key));
                            if (product == null)
                                continue;
                            <tr>
                                <td style="width: 14.2%; text-align: center;">
                                    <img src="@product.Image" style="max-width: 10vw; height: 5vw;" />
                                </td>
                                <td style="width: 14.2%;">@product.ProductName</td>
                                <td style="width: 14.2%;">@product.Category</td>
                                <td style="width: 14.2%;">@product.Brand</td>
                                <td style="width: 14.2%;">@product.Description</td>
                                <td style="width: 14.2%;">@product.Price $</td>
                                <td style="width: 14.2%;">@order.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        }
        else{
            <div style="text-align: center; margin-top: 30px;">
                <h1>You do not seem to have the authorization to access this page.</h1>
            </div>
        }
    }
    else
    {
        <div style="text-align: center; margin-top: 30px;">

            <h1>Please log in before accessing this page.</h1>

        </div>
    }
}
